* {
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  margin: 0;
  color: #0f141e;
  background: #fff;
  font-family: "proxima-nova", Montserrat, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #0f141e;
}

h1, h2, p {
  margin-top: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.smallText {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 5px;
  font-weight: bold;
}

.bigTitle {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.light-text {
  color: rgba(0, 0, 0, 0.6);
}

.btn {
  background: none;
  border-radius: 200px;
  border: 3px solid #0f141e;
  color: #0f141e;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  padding: 0.75em 2em;
  font-weight: 900;
  font-family: "proxima-nova", Montserrat, sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:active {
  color: #fff;
  background: #0f141e;
}

.flex {
  display: flex;
}

/*Header*/
header {
  padding: 1.5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo-header {
  height: 2rem;
}

.hamburger-container {
  cursor: pointer;
  margin-left: auto;
  z-index: 100;
  position: fixed;
  right: 2%;
}
.hamburger-container * {
  pointer-events: none;
}

.ham-label {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

#hamburger-menu {
  display: none;
}

.ham-line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #0f141e;
  border-radius: 20px;
  display: block;
  transition: transform 0.5s, opacity 0.5s, background 0.3s ease 0.4s;
  transform-origin: center;
}

.ham-line:nth-child(1) {
  top: 0px;
}

.ham-line:nth-child(2) {
  top: 12px;
}

.ham-line:nth-child(3) {
  top: 24px;
}

.menu-open:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

.menu-open:nth-child(2) {
  opacity: 0;
}

.menu-open:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/*Overlay Menu*/
.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  background: #0f141e;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow-x: hidden;
}

.menu-content {
  text-align: center;
  position: relative;
}
.menu-content .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0 3em 0;
  cursor: pointer;
}
.menu-content .nav-item img, .menu-content .nav-item svg {
  height: 50px;
  fill: #fff;
  opacity: 0.4;
  transition: all 200ms ease;
}
.menu-content .nav-item p {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 0.75em;
}

.nav-item:hover svg,
.nav-item:active svg {
  opacity: 0.9;
}

.overlay-width {
  width: 75%;
}

/*title page*/
.title-section {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}
.title-section > * {
  flex: 1;
  margin-bottom: 2em;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 2em;
}

.title-deco {
  order: -1;
  /*height: 250px;*/
  width: 100%;
  position: relative;
}
.title-deco img {
  height: 100%;
  display: block;
  margin: 0 auto;
  opacity: 0.15;
}
.title-deco .metaContainer {
  width: 100%;
  height: 100%;
}
.title-deco .metaContainer #underlineSvg {
  opacity: 0.1;
}
.title-deco .metaContainer svg {
  height: 100%;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.title-deco .metaContainer svg path, .title-deco .metaContainer svg line, .title-deco .metaContainer svg polyline {
  stroke: #0f141e;
  stroke-width: 10px;
}
.title-deco .metaContainer svg path {
  fill: transparent;
}

.scrolldown {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 0;
  cursor: pointer;
}
.scrolldown svg {
  max-height: 24px;
}
.scrolldown p {
  margin-bottom: 0.75em;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.content-section {
  margin-top: 3em;
}

.project-tiles {
  flex-direction: column;
}

.project-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;
  position: relative;
}

.project-group:first-child {
  margin-top: 10em;
}

.project-tile {
  background: #0f141e;
  width: 100%;
  height: 500px;
  margin-bottom: 3em;
}

.project-group-title {
  position: absolute;
  top: -6rem;
  left: 0;
  font-weight: 900;
  font-size: 6rem;
  margin: 0;
  opacity: 0.05;
}

/*
.tech-row{
  display: flex;
  flex-direction: column;
  :first-child{
    margin-top: 5em;
  }
}

 .row-title{
   letter-spacing: 10px;
   color: $text-light;
 }

*/
@media (min-width: 800px) {
  body {
    font-size: 1.125rem;
  }

  .bigTitle {
    font-size: 3.4rem;
  }

  .menu-content .nav-item svg {
    height: 60px;
  }
  .menu-content .nav-item p {
    font-size: 1.5rem;
  }

  .overlay-width {
    width: 25%;
  }

  .title-section {
    flex-direction: row;
  }

  .title-content {
    padding-bottom: 8em;
  }

  .title-deco {
    order: 1;
  }
  .title-deco .metaContainer {
    display: block;
  }
  .title-deco .metaContainer svg {
    max-width: 75%;
  }

  .scrolldown {
    display: flex;
  }

  .project-group {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 13em;
    margin-bottom: 0;
  }

  .project-group:last-child {
    margin-bottom: 10em;
  }

  .project-tile {
    margin-left: 2em;
    margin-right: 2em;
  }

  .project-group-title {
    font-size: 18rem;
    top: -15rem;
  }

  .project-group-three {
    display: grid;
    grid-template: 50% 50%/50% 50%;
    column-gap: 2em;
    padding: 3em;
  }
  .project-group-three .project-tile {
    margin-left: 0;
    margin-right: 0;
  }
  .project-group-three .project-group-title {
    top: -12rem;
  }

  .grid-stretch {
    grid-column: 1/3;
  }
}

/*# sourceMappingURL=style.css.map */
